img{
    height: 100vh;
    margin: auto;
    display: block;
};

*{
    color: white;
}

.liz{
    padding: 10px;
    background-color: #0081a7;
}
.Liz{
    padding: 10px;
    background-color: #5fc1b2;
}
body{
    background-color:  #00afb9;
    color: rgb(255, 255, 255);
}

@media (max-width: 480px){
    img{
        height: 80vh;
        margin: auto;
        display: block;
    }
}